<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "Titulli", style: "display: block" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div>
    <%= form.label "Deshira", style: "display: block" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div>
    <%= form.submit "Krijo deshiren", class: "btn btn-primary mt-2" %>
  </div>
<% end %>
