<%# filepath: /Users/erindhoxha/Documents/prjcts/store/app/views/articles/_form.html.erb %>
<%= form_with(model: article) do |form| %>
  <%= render 'shared/errors' %>
  <div class="form-row">
    <div class="form-group mb-3">
      <%= form.label "Deshira", for: "description", class: "form-label" %>
      <%= form.text_area :description, class: "form-control", id: "description" %>
    </div>
    <div>
      <%= form.submit article.new_record? ? "Krijo deshiren" : "Ndrysho deshiren", class: "btn btn--link mt-2" %>
    </div>
  </div>
<% end %>