<p style="color: green"><%= notice %></p>

<h1>Lista e deshirave</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
    <%= link_to "Edit this article", edit_article_path(article) %>
    <%= button_to "Destroy this article", article_path(article), method: :delete, data: { confirm: "Are you sure?" } %>
    </p>
  <% end %>
</div>

<%= link_to "Krijo", new_article_path, class: "btn--link mt-2" %>
