

<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<h1>Wish: #<%= @article.id %></h1>
<hr>
  <h6 class="mt-3">Detajet</h6>
  <h5>
    <%= @article.description %>
  </h5>
  <h6 class="mt-3">Koha e krijimit</h6>
  <h5>
    <%= @article.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
  </h5>
</div>
<% if logged_in? && current_user == @article.user %>
<hr>
<div class="d-flex flex-row gap-2 mt-3">
  <%= link_to "Edit", edit_article_path(@article), class: "btn btn-warning" %>
  <div>
    <button type="button" class="btn btn-danger ml-auto" data-bs-toggle="modal" data-bs-target="#exampleModal" data-article-id="<%= @article.id %>">
      Delete
    </button>
  </div>
</div>
<% end %>
<hr>
<div>
  <% if logged_in? && current_user == @article.user %>
    <%= link_to "Create another wish", new_article_path, class: "btn btn-light" %>
  <% end %>
  <%= link_to "Back to wishes", articles_path, class: "btn btn-dark" %>
</div>


