
<hr>

<div id="<%= dom_id user %>">
  <div class="d-flex flex-row gap-3 align-items-start">
    <%= gravatar_for user %>
    <div class="mb-4">
      <p class="mb-0">
        <strong>Username:</strong>
        <%= user.username %>
      </p>
      <p class="mb-0">
        <strong>Email:</strong>
        <%= user.email %>
      </p>
    </div>
  </div>
  <h3>Wishlist (<%= user.articles.count %>)</h3>
<div class="d-flex flex-column gap-3">
  <% if user.articles.any? %>
    <div class="mb-3 gap-3 d-flex flex-column">
      <% user.articles.each do |article| %>
        <%= render article %>
      <% end %>
    </div>
  <% else %>
    <p>No wishes available.</p>
  <% end %>
</div>
</div>

