
<div id="<%= dom_id user %>">
<!-- filepath: /Users/erindhoxha/Documents/prjcts/store/app/views/users/_user.html.erb -->
  <div class="d-flex align-items-center">
    <%= link_to user_path(user), class: "d-flex flex-row gap-3 align-items-center mb-4 title-link" do %>
    <%= gravatar_for user %>
    <div class="mb-0">
      <h4 class="mb-0">
        <%= user.username %>
      </h4>
    </div>
    <% end %>
    <p class="mb-0 ml-auto">
        <%= link_to "View", user, class: "btn btn-light" %>
      </p>
  </div>
  <h5>Wishlist (<%= user.articles.count %>):</h5>
<div class="d-flex flex-column gap-3">
  <% if user.articles.any? %>
    <div class="gap-3 d-flex flex-column">
      <% user.articles.each do |article| %>
        <%= render article %>
      <% end %>
    </div>
  <% else %>
    <p class="mb-0">No wishes available.</p>
  <% end %>
</div>
</div>

