<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<h1 class="mb-0">Users</h1>

<div id="users" class="d-flex flex-column">
  <% @users.each do |user| %>
    <%= render user %>
    <p class="mb-0">
      <%= link_to "Show this user", user, class: "btn btn-dark" %>
    </p>
  <% end %>
</div>

<%= will_paginate @users, class: "apple_pagination" %>