<!-- filepath: /Users/erindhoxha/Documents/prjcts/store/app/views/users/index.html.erb -->
<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<div class="d-flex flex-column md-flex-row gap-4 md-align-items-end">
  <h1 class="mb-0">Users</h1>

  <div class="d-flex w-100 md-ml-auto" style="max-width: 600px;">
    <%= form_tag users_path, method: :get, class: "d-flex w-100 gap-2" do %>
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search users" %>
      <%= submit_tag "Search", class: "btn btn-success" %>
    <% end %>
  </div>
</div>

<div id="users" class="d-flex flex-column">
  <% if @current_user || @current_user.admin? %>
    <hr>
    <div class="d-flex align-items-center current-user">
      <%= link_to user_path(@current_user), class: "d-flex flex-row gap-3 align-items-center title-link" do %>
        <%= gravatar_for @current_user %>
        <div class="mb-0">
          <h4 class="mb-0">
            <%= @current_user.username %>
          </h4>
          <span>
            Wishlist items: <%= @current_user.articles.count %>
          </span>
        </div>
      <% end %>
      <div class="mb-0 ml-auto text-right">
        <%= link_to "Edit", edit_user_path(@current_user), class: "btn btn-warning" %>
        <%= link_to "View more", @current_user, class: "btn btn-light" %>
      </div>
    </div>
  <% end %>

  <% @other_users.each do |user| %>
    <hr>
    <div class="d-flex align-items-center">
      <%= link_to user_path(user), class: "d-flex flex-row gap-3 align-items-center title-link" do %>
        <%= gravatar_for user %>
        <div class="mb-0">
          <h4 class="mb-0">
            <%= user.username %>
          </h4>
          <span>
            Wishlist items: <%= user.articles.count %>
          </span>
        </div>
      <% end %>
      <p class="mb-0 ml-auto">
        <% if current_user.admin? %>
          <%= link_to "Edit", edit_user_path(user), class: "btn btn-warning" %>
        <% end %>
        <%= link_to "View more", user, class: "btn btn-light" %>
      </p>
    </div>
  <% end %>
</div>

<%= will_paginate @other_users, class: "apple_pagination" %>