<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<h1>Profile</h1>

<% if logged_in? && current_user == @user %>
  <hr>
  <div class="d-flex gap-3 w-100 mb-3">
    <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-warning" %>
    <hr>
    <div class="ml-auto">
      <%= button_to "Delete your account", @user, method: :delete, class: "btn btn-danger ml-auto" %>
    </div>
  </div>
  <hr>
<% end %>

<%= render @user %>

<hr>

<%= link_to "Back to users", users_path, class: "btn btn-dark" %>


