<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<div class="d-flex flex-column md-flex-row gap-3 md-align-items-end">
  <h1><%= @user.username %> details</h1>
  <% if logged_in? && current_user == @user %>
    <div class="d-flex gap-2 md-ml-auto">
      <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-warning md-ml-auto" %>
      <hr>
      <div>
        <%= button_to "Delete your account", @user, method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>
<hr>

<%= render @user %>

<hr>

<%= link_to "Back to users", users_path, class: "btn btn-dark" %>


