
 <nav class="navbar navbar-light bg-light navbar-expand-lg">
  <div class="container">
    <%= link_to "wishlist.com", root_path, class: "navbar-brand", id: "logo" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
        <li class="nav-item">
          <%= link_to "Wishes", articles_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Users", users_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Create a wish", new_article_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "How to use?", about_path, class: "nav-link" %>
        </li>
        <% if logged_in? %>
          <div class="md-ml-auto d-flex flex-row">
            <li class="nav-item">
              <%= link_to "Profile", current_user, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Logout", logout_path, class: "nav-link", method: :delete %>
            </li>
          </div>
        <% else %>
          <div class="md-ml-auto d-flex flex-row">
            <li class="nav-item">
              <%= link_to "Register", signup_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Login", login_path, class: "nav-link" %>
            </li>
          </div>
        <% end %>
  
      </ul>
    </div>
  </div>
</nav>