<!DOCTYPE html>
<html data-bs-theme="dark">
  <head>
    <title>Store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="d-flex flex-column">
    <%= render "layouts/navbar" %>
    <%= render "shared/articles_confirmation_modal" %>
    <section class="container mt-4 h-100">
      <%= yield %>
      <%= render "layouts/footer" %>
    </section>
  </body>
</html>
